<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>custommade</name>
	<displayName><![CDATA[Custom Made Wall Mural]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Custom Made Your Wall Mural]]></description>
	<author><![CDATA[by 202-ecommerce]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall custom made your wall mural?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>